<main class="container">
  <h2 >Word Replacer</h2>
  <form class="form" [formGroup]="wordForm">
    <div class="form_input">
      <label>Replace this word</label>
      <input type="text" placeholder="Old word" formControlName="oldWord" />
    </div>

    <div class="form_input">
      <label>With this word</label>
      <input type="text" placeholder="New word" formControlName="newWord" />
    </div>

    <div class="form_input">
      <label>In this body of text</label>
      <textarea
        id="text"
        cols="20"
        rows="5"
        placeholder="Enter your text"
        formControlName="text"
      ></textarea>
    </div>

    <div class="form_input">
      <div class="btn_box bottom_items">
        <button (click)="replaceWords()">Go</button>
        <button type="submit" (click)="reset()">Reset</button>
      </div>

      <label *ngIf="hasResult()">New Text</label>
      <div class="result bottom_items" *ngIf="hasResult()">
        <input type="text" [value]="result" />
        <button (click)="copyToClipboard()">Copy</button>
      </div>
    </div>
  </form>
</main>
