/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// ## Colors

// ### Primary

$color-light-red:hsl(0, 100%, 67%);
$color-orangey-yellow:hsl(39, 100%, 56%);
$color-Green-teal: hsl(166, 100%, 37%);
$color-Cobalt-blue: hsl(234, 85%, 45%);


// ## Gradients

$color-Light-slate-blue : hsl(252, 100%, 67%); // (background)
$color-Light-royal-blue : hsl(241, 81%, 54%); // (background)

$color-Violet : hsla(256, 72%, 46%, 1); // (circle):
$color-Persian-blue :  hsla(241, 72%, 46%, 0); // (circle):

// ### Neutral

$color-White: hsl(0, 0%, 100%);
$color-Pale-blue: hsl(221, 100%, 96%);
$color-Light-lavender: hsl(241, 100%, 89%);
$color-Dark-gray-blue: hsl(224, 30%, 27%);
